@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Lab1.Models.Ticket>

<div class="container p-3">
    @if (Model.Any())
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th scope="col">Passenger name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Route name</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.PassengerFullName</td>
                    <td>@obj.Price</td>
                    <td>@obj.Route.Name</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>You don't have any tickets</p>
    }
</div>
