@model Lab1.Models.RailwayRoute



<form method="post" asp-action="Create">
    <div class="border rounded border-bold p-3">


        <div class="form-group row">
            <h2 class="text-dark pl-3">Add railway route</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label class="text-dark font-weight-bold" asp-for="Name">Name</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label class="text-dark font-weight-bold" asp-for="DepartureTime">Departure time</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="DepartureTime" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label class="text-dark font-weight-bold" asp-for="ArrivalTime">Arrival time</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ArrivalTime" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label class="text-dark font-weight-bold" asp-for="DepartureCity">Departure city</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="DepartureCity" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label class="text-dark font-weight-bold" asp-for="ArrivalCity">Arrival city</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ArrivalCity" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-block bg-white text-dark border-dark w-100" value="Create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-block bg-dark text-white  w-100">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>

    </div>
</form>

