@model Lab1.Models.RailwayRoute

<form method="post" asp-action="Edit">
    <div class="border rounded border-bold p-3">

        <input asp-for="Id" hidden />

        <div class="form-group row">
            <h2 class="text-dark pl-3">Edit railway route</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label class="text-dark font-weight-bold" asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control shadow-dark" />
                        <span asp-validation-for="Name" class="text-uppercase text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label class="text-dark font-weight-bold" asp-for="DepartureTime"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="DepartureTime" class="form-control shadow-dark" />
                        <span asp-validation-for="DepartureTime" class="text-uppercase text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label class="text-dark font-weight-bold" asp-for="ArrivalTime"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ArrivalTime" class="form-control shadow-dark" />
                        <span asp-validation-for="ArrivalTime" class="text-uppercase text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label class="text-dark font-weight-bold" asp-for="DepartureCity"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="DepartureCity" class="form-control shadow-dark" />
                        <span asp-validation-for="DepartureCity" class="text-uppercase text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label class="text-dark font-weight-bold" asp-for="ArrivalCity"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ArrivalCity" class="form-control shadow-dark" />
                        <span asp-validation-for="ArrivalCity" class="text-uppercase text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-block bg-white text-dark border-dark w-100" value="Finish editing" />
                        </div>
                        <div class="col shadow-dark ">
                            <a asp-action="Index" class="btn btn-block bg-dark text-white w-100">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}